{% extends 'base.html' %}

{% block content %}
<h1>Business</h1>
<div class="row">
<div class="col-md-12">
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Name</td>
            <td>&nbsp;</td>
        </tr>
    </thead>
    <tbody>
    {% for business in object_list %}
    <tr>
        <td>{{ business.name }}</td>
         
        <td>
            <a href="{% url 'business:detail' business.pk %}" class="btn btn-primary">View</a>
            <a href="{% url 'business:update' business.pk %}" class="btn btn-secondary">Edit</a>
            <a href="{% url 'business:delete' business.pk %}" class="btn btn-danger">Delete</a>
        </td>
        
    </tr>
    {% empty %}
    <tr><td>Empty list.</td></tr>        
    {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock %}